<!DOCTYPE html>
<html lang="en">
  <head th:replace="/template/head::head"></head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <!-- sidebar menu -->
            <div th:replace="/template/menu::menu"></div>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <div th:replace="/template/top-nav::top-nav"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>User</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <div class="row">
                      	  <div class="col-sm-12">
                      	  	<button type="button" data-toggle="modal" data-target=".modal-form" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i> Tambah</button>
                      	  </div>
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
			                    <table id="tabel-user" class="table table-bordered table-hover" style="width:100%">
			                      <thead>
			                        <tr>
			                          <th>Username</th>
			                          <th>Nama Lengkap</th>
			                          <th>No Telp</th>
			                          <th>No Hp</th>
			                          <th>Jabatan</th>
			                          <th>Aksi</th>
			                        </tr>
			                      </thead>
			                      <tbody>
			                      </tbody>
			                    </table>
                  			</div>
                		</div>
              		</div>
            	</div>
               </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
		<div class="modal fade modal-form" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Form User</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span>
                </button>
              </div>
              <div class="modal-body">
              	<form id="demo-form2" novalidate="" class="needs-validation form-horizontal form-label-left">
                   <div class="item form-group">
                     <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Username <span class="required">*</span>
                     </label>
                     <div class="col-md-6 col-sm-6 ">
                     	<input type="hidden" id="id_user" name="id_user" />
                       <input data-parsley-error-message="Username harus diisi" type="text" id="username" name="username" required="required" class="form-control "/>
                     </div>
                   </div>
                   <div class="item form-group">
                     <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Nama Lengkap <span class="required">*</span>
                     </label>
                     <div class="col-md-6 col-sm-6 ">
                       <input type="text" id="full_name" name="full_name" required="required" class="form-control"/>
                     </div>
                   </div>
                   <div class="item form-group">
                     <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Password <span class="required">*</span></label>
                     <div class="col-md-6 col-sm-6 ">
                       <input id="password" class="form-control" type="password" name="password" required="required"/>
                     </div>
                   </div>
                   <div class="item form-group">
                     <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Level <span class="required">*</span></label>
                     <div class="col-md-6 col-sm-6 ">
                     	<select id="idlevel" class="form-control" name="idlevel" required="required">
                     		<option th:each="list : ${level}" th:value="${list.idleveluser}" th:text="${list.nmleveluser}"></option>
                     	</select>
                     </div>
                   </div>
                   <div class="item form-group">
                     <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Pemda</label>
                     <div class="col-md-6 col-sm-6 ">
                     	<select id="kdsatker" class="form-control" name="kdsatker">
                     		<option th:each="list : ${satker}" th:value="${list.kdsatker}" th:text="${list.urpemda}"></option>
                     	</select>
                     </div>
                   </div>
                   <div class="item form-group">
                     <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">No Telp 
                     </label>
                     <div class="col-md-6 col-sm-6 ">
                       <input type="number" id="notelp" name="notelp" class="form-control"/>
                     </div>
                   </div>
                   <div class="item form-group">
                     <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">No Hp 
                     </label>
                     <div class="col-md-6 col-sm-6 ">
                       <input type="number" id="nohp" name="nohp" class="form-control"/>
                     </div>
                   </div>
                   <div class="item form-group">
                     <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Jabatan 
                     </label>
                     <div class="col-md-6 col-sm-6 ">
                       <input type="text" id="jabatan" name="jabatan" class="form-control"/>
                     </div>
                   </div>
                   <div class="ln_solid"></div>
                   <div class="item form-group">
                     <div class="col-md-6 col-sm-6 offset-md-3">
                       <button class="btn btn-danger btn-sm" data-dismiss="modal" type="button">Tutup</button>
			  			<button class="btn btn-warning btn-sm" type="reset">Reset</button>
                       <button type="submit" class="btn btn-success btn-sm simpan">Simpan</button>
                     </div>
                   </div>
                 </form>
              </div>
            </div>
          </div>
        </div>
        <!-- footer content -->
        <div th:replace="/template/footer-content::footer-content"></div>
        <!-- /footer content -->
      </div>
    </div>

    <div th:replace="/template/footer::footer"></div>
	<script th:inline="javascript" >
	// <![CDATA[
		$(document).ready(function (e) {
			var table = $('#tabel-user').DataTable({
				"ajax": {
					"url": '/list-user',
					dataSrc: 'content',
				},
				"columns": [
					{"data": function (row, data, index, display) {
							return "<div style='font-size:90%;text-align:center;'>"+row.username+"</div>";
						}},
					{"data": function (row, data, index, display) {
							return "<div style='font-size:90%;'>"+row.full_name+"</div>";
						}},
					{"data": function (row, data, index, display) {
						return "<div style='font-size:90%;'>"+(row.notelp?row.notelp:'')+"</div>";
						}},
					{"data": function (row, data, index, display) {
						return "<div style='font-size:90%;'>"+(row.nohp?row.nohp:'')+"</div>";
						}},
					{"data": function (row, data, index, display) {
						return "<div style='font-size:90%;'>"+(row.jabatan?row.jabatan:'')+"</div>";
						}},
					{"data": function (row, data, index, display) {
							return "<div style='text-align:center;'>"+
									'<button data-id="'+row.id_user+'" type="button" title="edit" class="btn btn-outline-warning btn-sm edit"><i class="fa fa-edit"></i></button>'+
									'<button data-id="'+row.id_user+'" type="button" title="hapus" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></button></div>';
						}}
				],
				select: true
			});
			
			$('.simpan').on('click', function(){
				var forms = document.getElementsByClassName('needs-validation');
			    // Loop over them and prevent submission
			    var validation = Array.prototype.filter.call(forms, function(form) {
			      form.addEventListener('submit', function(event) {
			    	event.preventDefault();
			        event.stopPropagation();
			        if (form.checkValidity() === false) {
			          
			        }else{
			        	var id_user = ($('#id_user').val())?$('#id_user').val():null;
			    		var username = $('#username').val();
			    		var full_name = $('#full_name').val();
			    		var password = $('#password').val();
			    		var idlevel = $('#idlevel').val();
			    		var aktif = $('#aktif').val();
			    		var kdsatker = $('#kdsatker').val();
			    		var notelp = $('#notelp').val();
			    		var nohp = $('#nohp').val();
			    		var jabatan = $('#jabatan').val();
			    		
			    		var data = JSON.stringify({
            				'id_user':id_user,
            				'username':username,
            				'full_name':full_name,
            				'password':password,
            				'idlevel':idlevel,
            				'aktif':aktif,
            				'kdsatker':kdsatker,
            				'notelp':notelp,
            				'nohp':nohp,
            				'jabatan':jabatan
            				});
			    			
			    		$.ajax({
            				type: "POST",
                            url: '/save-user',
                            headers:{'Accept':'application/json','Content-Type':'application/json'},
            				data: data,
                            success: function (result) {
                            	table.ajax.url('/list-user').load();
                            	$('.modal-form').modal('hide');
                            },
                        });
			        }
			        form.classList.add('was-validated');
			      }, false);
			    });
			});
			
			$('#tabel-user').on('click','.edit', function(){
				var id = $(this).data("id");
				$.ajax({
    				type: "GET",
                    url: '/list-user/'+id,
                    success: function (result) {
                    	var val = result.content;
                    	$('#id_user').val(val.id_user);
			    		$('#username').val(val.username);
			    		$('#full_name').val(val.full_name);
			    		$('#password').val(val.password);
			    		$('#idlevel').val(val.idlevel);
			    		$('#aktif').val(val.aktif);
			    		$('#kdsatker').val(val.kdsatker);
			    		$('#notelp').val(val.notelp);
			    		$('#nohp').val(val.nohp);
			    		$('#jabatan').val(val.jabatan);
                    	$('.modal-form').modal('show');
                    },
                });
			})
		})
	// ]]>
	</script>
  </body>
</html>