<!DOCTYPE html>
<html lang="en"
      xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Login </title>

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{vendors/bootstrap/dist/css/bootstrap.min.css}"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" th:href="@{vendors/font-awesome/css/font-awesome.min.css}"/>
    <!-- NProgress -->
    <link rel="stylesheet" th:href="@{vendors/nprogress/nprogress.css}"/>
    <!-- Animate.css -->
    <link rel="stylesheet" th:href="@{vendors/animate.css/animate.min.css}"/>

    <!-- Custom Theme Style -->
    <link rel="stylesheet" th:href="@{build/css/custom.min.css}"/>
  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form id="form-login" method="post" th:action="@{/login}">
              <h1>Login Form</h1>
              <div>
                <input id="username" name="username" type="text" class="form-control" placeholder="Username" required="" />
              </div>
              <div>
                <input id="password" name="password" type="password" class="form-control" placeholder="Password" required="" />
              </div>
              <div>
                <button type="submit" name="submit" id="submit" class="btn btn-success submit">Log in</button>
              </div>

              <div class="clearfix"></div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
