<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="_csrf" th:content="${_csrf.token}"/>
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

		<title>Spring-Core</title>
		<!-- Bootstrap -->
	    <link rel="stylesheet" th:href="@{vendors/bootstrap/dist/css/bootstrap.min.css}"/>
	    <!-- Font Awesome -->
	    <link rel="stylesheet" th:href="@{vendors/font-awesome/css/font-awesome.min.css}"/>
	    <!-- NProgress -->
	    <link rel="stylesheet" th:href="@{vendors/nprogress/nprogress.css}"/>
	    <!-- iCheck -->
	    <link rel="stylesheet" th:href="@{vendors/iCheck/skins/flat/green.css}"/>
		<!-- bootstrap-wysiwyg -->
		<link rel="stylesheet" th:href="@{vendors/google-code-prettify/bin/prettify.min.css}"/>
	    <!-- bootstrap-progressbar -->
	    <link rel="stylesheet" th:href="@{vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css}"/>
	    <!-- Select2 -->
	    <link rel="stylesheet" th:href="@{vendors/select2/dist/css/select2.min.css}"/>
	    <!-- Switchery -->
	    <link rel="stylesheet" th:href="@{vendors/switchery/dist/switchery.min.css}"/>
	    <!-- starrr -->
	    <link rel="stylesheet" th:href="@{vendors/starrr/dist/starrr.css}"/>
	    <!-- JQVMap -->
	    <link rel="stylesheet" th:href="@{vendors/jqvmap/dist/jqvmap.min.css}"/>
	    <!-- bootstrap-daterangepicker -->
	    <link rel="stylesheet" th:href="@{vendors/bootstrap-daterangepicker/daterangepicker.css}"/>
	    <!-- Datatables -->
	    <link rel="stylesheet" th:href="@{vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}"/>
	
	    <!-- Custom Theme Style -->
	    <link rel="stylesheet" th:href="@{build/css/custom.min.css}"/>
	</head>
</html>