<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="menu">
	<div class="navbar nav_title" style="border: 0;">
      <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Spring-Core</span></a>
    </div>

    <div class="clearfix"></div>
            
	<!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <img th:src="@{/images/img.jpg}" alt="..." class="img-circle profile_img"/>
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2>John Doe</h2>
      </div>
    </div>
    <!-- /menu profile quick info -->

    <br />
            
	<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
       <div class="menu_section">
         <ul class="nav side-menu">
           <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
             <ul class="nav child_menu">
               <li><a th:href="@{/home}">Dashboard</a></li>
             </ul>
           </li>
           <li><a><i class="fa fa-edit"></i> Master <span class="fa fa-chevron-down"></span></a>
             <ul class="nav child_menu">
               <li><a th:href="@{/user}">User</a></li>
             </ul>
           </li>
         </ul>
       </div>
   </div>
</html>